{{#each folders}}
  {{#if @key}}<h3>{{@key}}</h3>{{/if}}

  <div class="pl-summary-journals">
    <table class="table summary-table">
      <tbody>
        <tr>
          <th>{{localize "SWADE.Name"}}</th>
          <th>{{localize "ITEM.TypeArmor"}}</th>
          <th>{{localize "SWADE.HitLocations"}}</th>
          <th>{{localize "SWADE.MinStrShort"}}</th>
          <th>{{localize "SWADE.Weight"}}</th>
          <th>{{localize "SWADE.Price"}}</th>
        </tr>
        {{#each this}}
          <tr>
            <td class="hasPopup">
              @Compendium[{{metadata_id}}.{{ogId}}]{ {{~name~}}}
              <div class="popup">{{{popupText}}}
                <p class="compendiumSource">Source: {{compendiumLabel}}</p>
              </div>
            </td>
            <td class="centered">+{{system.armor}}</td>
            <td class="centered">
              {{#if system.locations.head}}
                {{localize "PCTM.HeadLocationOneLetter"}}
              {{else}}&ndash;{{/if}}
              {{#if system.locations.torso}}
                {{localize "PCTM.TorsoLocationOneLetter"}}
              {{else}}&ndash;{{/if}}
              {{#if system.locations.arms}}
                {{localize "PCTM.ArmsLocationOneLetter"}}
              {{else}}&ndash;{{/if}}
              {{#if system.locations.legs}}
                {{localize "PCTM.LegsLocationOneLetter"}}
              {{else}}&ndash;{{/if}}
            </td>
            <td class="centered">{{system.minStr}}</td>
            <td class="centered">{{system.weight}}</td>
            <td class="centered">{{system.price}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

{{/each}}