<div class="pl-summary-journals">
    <table class="table summary-table">
        <tbody>

        {{#each folders}}
            {{#if @key}}
                <tr><td colspan=4 class="rowheading">{{@key}}</td></tr>
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.Weight" }}</th>
                    <th>{{ localize "SWADE.Price" }}</th>
                    <th>{{ localize "SWADE.Quantity" }}</th
                </tr>
            {{else}}
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.Weight" }}</th>
                    <th>{{ localize "SWADE.Price" }}</th>
                    <th>{{ localize "SWADE.Quantity" }}</th
                </tr>
            {{/if}}      
            {{#each this}}
                <tr>
                    <td class="hasPopup">
                        @Compendium[{{compendiumPackageName}}.{{compendiumName}}.{{ogId}}]{ {{~name~}}}
                        <div class="popup">{{{popupText}}}
                            <p class="compendiumSource">Source: {{compendiumLabel}}</p>
                        </div>
                    </td>
                    <td class="centered">{{system.weight}}</td>
                    <td class="centered">{{system.price}}</td>
                    <td class="centered">{{system.quantity}}</td>
                </tr>
            {{/each}}    
        {{/each}}

        </tbody>
    </table>
</div>