{{#each itemsByCategory}}
  {{#if this.name}}<h3>{{this.name}}</h3>{{/if}}

  <div class="pl-summary-journals">
    <table class="table summary-table">
      <tbody>
        <tr>
          <th>{{localize "SWADE.Name"}}</th>
          <th>{{localize "SWADE.Rank"}}</th>
          <th>{{localize "SWADE.PP"}}</th>
          <th>{{localize "SWADE.Rng"}}</th>
          <th>{{localize "SWADE.Dur"}}</th>
          <th>{{localize "SWADE.Dmg"}}</th>
        </tr>
        {{#each this.value}}
          <tr>
            <td class="hasPopup">
              @Compendium[{{metadata_id}}.{{ogId}}]{ {{~name~}}}
              <div class="popup">{{{popupText}}}
                <p class="compendiumSource">Source: {{compendiumLabel}}</p>
              </div>
            </td>
            <td class="centered">{{system.rank}}</td><!-- TODO: localise? -->
            <td class="centered">{{system.pp}}</td>
            <td class="centered">{{system.range}}</td>
            <td class="centered">{{system.duration}}</td>
            <td class="centered">{{PCTMValueOrEmDash system.damage}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}