<div class="pl-summary-journals">
    <table class="table summary-table">
        <tbody>
        {{#each folders}}
            {{#if @key}}
                <tr><td colspan=6 class="rowheading">{{@key}}</td></tr>
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.Parry" }}</th>
                    <th>{{ localize "SWADE.Cover._name" }}</th>
                    <th>{{ localize "SWADE.MinStrShort" }}</th>
                    <th>{{ localize "SWADE.Weight" }}</th>
                    <th>{{ localize "SWADE.Price" }}</th>
                </tr>
            {{else}}
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.Parry" }}</th>
                    <th>{{ localize "SWADE.Cover._name" }}</th>
                    <th>{{ localize "SWADE.MinStrShort" }}</th>
                    <th>{{ localize "SWADE.Weight" }}</th>
                    <th>{{ localize "SWADE.Price" }}</th>
                </tr>
            {{/if}}      
            {{#each this}}
                <tr>
                    <td class="hasPopup">
                        @Compendium[{{compendiumPackageName}}.{{compendiumName}}.{{ogId}}]{ {{~name~}}}
                        <div class="popup">{{{popupText}}}
                            <p class="compendiumSource">Source: {{compendiumLabel}}</p>
                        </div>
                    </td>

                    <td class="centered">{{ PCTMValueOrEmDashWithLeadingSign system.parry}}</td>
                    <td class="centered">{{ PCTMValueOrEmDashWithLeadingSign system.cover}}</td>
                    <td class="centered">{{system.minStr}}</td>
                    <td class="centered">{{system.weight}}</td>
                    <td class="centered">{{system.price}}</td>
                </tr>
            {{/each}}
        {{/each}}            
        </tbody>
    </table>
</div>

