<div class="pl-summary-journals">
    <table class="table summary-table">
        <tbody>
        {{#each folders}}
            {{#if @key}}
                <tr><td colspan=2 class="rowheading">{{@key}}</td></tr>
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.Req" }}</th>
                </tr>
            {{else}}
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.Req" }}</th>
                </tr>    
            {{/if}}          
            {{#each this}}
                <tr>
                    <td class="hasPopup">
                        @Compendium[{{compendiumPackage}}.{{compendiumName}}.{{ogId}}]{ {{~data.name~}}}
                        <div class="popup">{{plainTextDescription}} Source: {{compendiumLabel}}</div>
                    </td>
                    <td class="long-text">{{data.data.requirements.value}}</td>
                </tr>
            {{/each}}
        {{/each}}        
        </tbody>
    </table>
</div>