<div class="pl-summary-journals">
    <table class="table summary-table">
        <tbody>
        {{#each folders}}
            {{#if @key}}
                <tr><td colspan=3 class="rowheading">{{@key}}</td></tr>
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.LinkAttr" }}</th>
                </tr>
            {{else}}
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.LinkAttr" }}</th>
                </tr>
            {{/if}}      
            {{#each this}}
                <tr>
                    <td class="hasPopup">
                        @Compendium[{{compendiumPackage}}.{{compendiumName}}.{{ogId}}]{ {{~data.name~}}}
                        <div class="popup">{{{popupText}}}
                            <p class="compendiumSource">Source: {{compendiumLabel}}</p>
                        </div>
                    </td>
                    <td class="centered">
                        {{ localizeSkillAttribute data.data.attribute useShorthand=false }}
                    </td>
                </tr>
            {{/each}}
        {{/each}}            
        </tbody>
    </table>
</div>

