
<div class="pl-summary-journals">
    <table class="table summary-table">
        <tbody>
        {{#each folders}}

            {{#if @key}}
                <tr><td colspan=9 class="rowheading">{{@key}}</td></tr>
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.Dmg" }}</th>
                    <th>{{ localize "SWADE.Rng" }}</th>
                    <th>{{ localize "SWADE.Parry" }}</th>
                    <th>{{ localize "SWADE.Ap" }}</th>
                    <th>{{ localize "SWADE.RoF" }}</th>
                    <th>{{ localize "SWADE.Weight" }}</th>
                    <th>{{ localize "SWADE.MinStrShort" }}</th>
                    <th>{{ localize "SWADE.Price" }}</th>
                </tr>
            {{else}}                    
                <tr>
                    <th>{{ localize "SWADE.Name" }}</th>
                    <th>{{ localize "SWADE.Dmg" }}</th>
                    <th>{{ localize "SWADE.Rng" }}</th>
                    <th>{{ localize "SWADE.Parry" }}</th>
                    <th>{{ localize "SWADE.Ap" }}</th>
                    <th>{{ localize "SWADE.RoF" }}</th>
                    <th>{{ localize "SWADE.Weight" }}</th>
                    <th>{{ localize "SWADE.MinStrShort" }}</th>
                    <th>{{ localize "SWADE.Price" }}</th>
                </tr>
            {{/if}}  

            {{#each this}}
                <tr>
                    <td class="hasPopup">
                        @Compendium[{{compendiumPackage}}.{{compendiumName}}.{{ogId}}]{ {{~data.name~}}}
                        {{!-- <div class="popup">{{plainTextDescription}} Source: {{compendiumLabel}}</div> --}}
                    </td>
                    <td class="centered">{{data.data.damage}}</td>
                    <td class="centered">{{data.data.range}}</td>
                    <td class="centered">
                        {{#if data.data.parry}}
                            +{{data.data.parry}}
                        {{else}}
                             &mdash;    
                        {{/if}}
                    </td>
                    <td class="centered">
                        {{#if data.data.ap}}
                            {{data.data.ap}}
                        {{else}}
                             &mdash;    
                        {{/if}}
                    </td>
                    <td class="centered">{{data.data.rof}}</td>
                    <td class="centered">{{data.data.weight}}</td>
                    <td class="centered">{{data.data.minStr}}</td>
                    <td class="centered">{{data.data.price}}</td>
                </tr>
            {{/each}}
        {{/each}}
        </tbody>
    </table>
</div>